ASPNETCORE_ENVIRONMENT=Development
MOVELY__AllowedOrigins=http://localhost:3000
MOVELY__ConnectionStrings__MovelyDb=Host=localhost;Port=5432;Database=movely_dev;Username=postgres;Password=postgres
MOVELY__Auth__Google__Mode=Development
MOVELY__Sms__Mode=Development
